body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  flex-direction: column;

  width: 1146px;
  min-height: 106px;
  margin-top: 9px;
  margin-bottom: 280px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.logo {
  width: 154px;
  height: 64px;
  margin-right: 22px;
}

.menu-container {
  display: flex;
  width: 1146px;
  min-height: 64px;
}

.site-navigation {
  width: 353px;
  min-height: 17px;
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.submenu {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.search {
  width: 33px;
  min-height: 33px;
  margin-left: auto;
}

.user-navigation{
  width: 93px;
  min-height: 32px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;

  list-style: none;
}

.user-cart {
  width: 101px;
  min-height: 33px;
  margin-left: 0;
  margin-right: 0;
}

.working-info {
  align-self: flex-end;
  width: 166px;
  min-height: 41px;
}

.working-hours {
  font-weight: 700;
}

.working-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.site-navigation a,
.user-navigation a,
.user-cart a {
  color: #ffffff;
}

.user-navigation a,
.user-cart a {
  background-color: #9db1a5;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #f7f6f3;

  color: #333333;
}

.site-navigation a:active {
  background-color: #f6b5a5;

  color: #ffffff;
}

.user-navigation a:hover,
.user-cart a:hover,
.user-navigation a:focus,
.user-cart a:focus {
  background-color: #f8f7f4;

  color: #323232;
}

.submenu a:hover,
.submenu a:focus {
  background-color: #fbded7;
}

.submenu a:active {
  background-color: #f6b5a5;
}

.login-form a {
  background-color: transparent;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.login-form a:hover, 
.login-form a:focus {
  background-color: transparent;
}

.site-navigation-current {
  background-color: #d07058;
}

.carousel-item {
  width: 1146px;
  min-height: 210px;
  margin-bottom: 40px;
}

.carousel-item p {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.event {
  margin-bottom: 40px;
}

.event-list {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  min-height: 230px;
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.event-list li {
  width: 560px;
  min-height: 230px;
}

.event-list h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.event-list a {
  color: #ffffff;
}

.event-raspberry {
  background-color: #d22252;
  background-image: url(../img/raspberry.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.event-chocolate {
  background-color: #5a321f;
  background-image: url(../img/chocolate.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.popular-products {
  margin-bottom: 40px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
  min-height: 325px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-item {
  width: 267px;
  min-height: 325px;
  margin-right: 26px;
}

.list-item:nth-child(4n) {
  margin-right: 0;
}

.product-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.product-price span {
  font-size: 35px;
}

.features {
  width: 1146px;
  min-height: 308px;
  margin-bottom: 40px;

  background-color: #ebdec5;
  background-image: url("../img/waffle.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  width: 541px;
  min-height: 80px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  min-height: 222px;
  margin-bottom: 102px;
}

.blog {
  width: 560px;
  min-height: 222px;

  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog h2 {
  font: inherit;
  font-weight: 500;
}

.preview {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.subscription {
  width: 560px;
  min-height: 222px;

  background: #f8f7f4;
  background-image: url("../img/bg-post.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.subscription p {
  color: #5a5a5a;
}

.contacts {
  width: 305px;
  min-height: 305px;

  background: #ffffff;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.main-footer {
  display: flex;
  width: 1146px;
  min-height: 86px;
  margin-top: 80px;
}

.footer-social {
  width: 186px;
  min-height: 38px;
  margin: 0;
  padding: 0;
  margin-right: 231px;

  list-style: none;
}

.footer-info {
  width: 321px;
  min-height: 41px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-info a {
  width: 340px;
  height: 40px;

  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright {
  width: 190px;
  min-height: 62px;
  margin-left: auto;

  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.button {
  background-color: #ec573b;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.feedback {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.inner-page .main-navigation {
  margin-bottom: 10px;
}

.breadcrumbs {
  width: 223px;
  min-height: 17px;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;

  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.page-title {
  width: 386px;
  min-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.filters  fieldset {
  border: none;
}

.filters {
  display: flex;
  width: 862px;
  min-height: 135px;
  margin-bottom: 38px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.inner-page .product-list {
  min-height: 1150px;
  margin-bottom: 79px;
}

.pagination {
  width: 192px;
  min-height: 28px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.pagination-item-current a {
  background-color: #ffffff;

  color: #353535;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #9db1a5;
}

.pagination-item a:active {
  background-color: #ffffff;

  color: #353535;
}

.inner-page .main-footer {
  margin-top: 48px;
}
